@charset "utf-8";
.iconfont {
  vertical-align: middle;
}

body {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  font-size: 14px;
  color: #232628;
  font-family: "Microsoft Yahei", "微软雅黑", verdana;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div,
ul,
ol,
dl,
p,
pre,
section,
article,
aside,
li,
nav,
input,
textarea,
span,
label {
  border: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h4
{
  margin: 0;
  padding: 4px;
  line-height:1em;
}

ul,
dl,
dt,
dd {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -webkit-focus-ring-color: transparent;
}
i,
em,
strong {
  font-style: normal;
}
.iconfont {
  font-size: inherit;
}
.navigation {
  display: block;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-overflow-line2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.text-overflow-line3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
span.icon {
  display: inline-block;
  background-image: url(//img02.hua.com/pc/pimg/home/common_sprite.png);
  background-repeat: no-repeat;
  vertical-align: top;
}
a:hover {
  color: #FF734C;
}
a:focus {
  outline: none;
}
/* 顶部公共 start */
.top-nav {
  min-width: 1200px;
  height: 40px;
  font-size: 12px;
  color: bisque;
  background-color:rgb(90, 128, 0)
}
.top-nav-wrapper {
  width: 1200px;
  margin: 0 auto;
}
.top-nav-l {
  float: left;
}
.top-nav-l .menu:first-child {
  padding-left: 0;
}
.top-nav-r {
  float: right;
}
.top-nav-r .menu:last-child {
  padding-right: 0;
}
.top-nav .menu {
  padding: 0 16px;
  line-height: 40px;
  float: left;
}
.top-nav .menu.login a + a {
  margin-left: 12px;
}
.top-nav .menu-dropdown {
  position: relative;
}
.top-nav .menu-dropdown .dropdown-box {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  min-width: 160px;
  padding: 12px;
  font-size: 12px;
  line-height: 18px;
  color: #232628;
  background: #fff;
  border: 1px solid #E9ECF0;
  border-top-color: transparent;
  text-align: center;
  z-index: 1000;
}
.top-nav .menu-dropdown .dropdown-box-service {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 6px 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.top-nav .menu-dropdown .dropdown-box-service a {
  display: block;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #71797F;
}
.top-nav .menu-dropdown .dropdown-box-service a:hover {
  color: #FF734C;
}
.top-nav .menu-dropdown.open {
  background: #fff;
}
.top-nav .menu-dropdown.open a {
  color: #FF734C;
  background-color: #fff;
  z-index: 1001;
}
.top-nav .menu-dropdown.open .dropdown-box {
  display: block;
}
.top-nav .menu-dropdown.open .dropdown-box-service a {
  color: #71797F;
}
.top-nav .menu-dropdown.open .dropdown-box-service a:hover {
  color: #FF734C;
}
.top-nav .dropdown {
  position: relative;
}
.top-nav .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
}
.top-nav .open .dropdown-menu {
  display: block;
}
.top-nav span.icon {
  width: 14px;
  height: 14px;
  margin-top: 12px;
  margin-right: 4px;
}
.top-nav span.icon-star {
  background-position: 0 -21px;
}
.top-nav span.icon-weixin {
  background-position: -24px -21px;
}
.top-nav span.icon-mobile {
  background-position: -48px -21px;
}
#header {
  min-width: 1200px;
  height: 120px;
}
#header .header-container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
}
#header .logo {
  float: left;
  width: 238px;
  height: 100%;
}
#header .logo-nav {
  display: inline-block;
  width: 238px;
  height: 60px;
  margin-top: 30px;
  background-image: url(//img02.hua.com/pc/pimg/home/common_sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -248px;
}
#header .search-box {
  width: 440px;
  margin: 0 auto;
  padding-top: 25px;
  font-size: 0;
}
#header .search-box-group {
  position: relative;
  width: 440px;
  height: 48px;
  border-radius: 24px;
  border: 2px solid #FF734C;
  overflow: hidden;
}
#header .search-box-icon {
  display: inline-block;
  width: 54px;
  height: 100%;
  vertical-align: top;
  text-align: center;
}
#header .search-box-icon span.icon {
  width: 16px;
  height: 16px;
  margin-top: 16px;
}
#header .search-box-icon span.icon-search {
  background-position: 0 -48px;
}
#header .search-box-input {
  width: 264px;
  height: 100%;
  font-size: 14px;
  border: none;
  background-color: inherit;
}
#header .search-box-input::-webkit-input-placeholder {
  color: #B4BABF;
}
#header .search-box-input::-moz-placeholder {
  color: #B4BABF;
}
#header .search-box-input:-ms-input-placeholder {
  color: #B4BABF;
}
#header .search-box-input::-ms-input-placeholder {
  color: #B4BABF;
}
#header .search-box-input::placeholder {
  color: #B4BABF;
}
#header .search-box-btn {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 118px;
  height: 48px;
}
#header .search-box-btn button {
  width: 100%;
  height: 100%;
  border-radius: 24px 0 0 24px;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  background-color: #FF734C;
  background: -webkit-gradient(linear, left top, right top, from(#ff734c), to(#ff3d12));
  background: -webkit-linear-gradient(left, #ff734c 0%, #ff3d12 100%);
  background: -o-linear-gradient(left, #ff734c 0%, #ff3d12 100%);
  background: linear-gradient(90deg, #ff734c 0%, #ff3d12 100%);
}
#header .search-box-hotwords {
  margin-top: 8px;
  margin-left: 44px;
  font-size: 12px;
  line-height: 16px;
  color: #B4BABF;
}
#header .search-box-hotwords a {
  margin: 0 12px;
}
#header .service {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  padding-top: 25px;
  line-height: 18px;
  text-align: right;
}
#header .service-item {
  display: inline-block;
  font-size: 14px;
  color: #71797F;
  vertical-align: top;
}
#header .service-item-info {
  display: inline-block;
  margin-top: 15px;
  vertical-align: top;
  text-align: left;
}
#header .service-item.vipwechatchat .service-item-info {
  margin-top: 6px;
}
#header .service .service-item + .service-item {
  margin-left: 40px;
}
#header .service span.icon {
  width: 24px;
  height: 24px;
  margin-top: 12px;
  margin-right: 8px;
}
#header .service span.icon-phone {
  background-position: 0 -102px;
}
#header .service span.icon-headset {
  background-position: -34px -102px;
}
#header .service span.icon-diamond {
  background-position: -272px -102px;
}
